*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: rgb(255, 68, 0) ;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin: 50px 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700px;
    font-size: 20px;
    border: 0;
   padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: orangered;
    
}
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom:  20px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-desc{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.header{
       background-color: #fff8f3;
       background-image: url('../portfolio/images/header_bg.png') , url('../portfolio/images/developer.png');
      background-repeat: no-repeat;
      background-position: right bottom,left;
}
section{
    margin-top: 130px;
}
.about{
    
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
main{
     max-width: 1140px;
     margin: 0 auto;
}
.section-title{
    text-align: center;
    font-weight: 700;
   font-size: 35px;
    margin-bottom: 70px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.skill-container{
    display: flex;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.skill{
    background-color: #fff8f3;
    box-shadow: o 6px 50px gray;
    border-radius: 5px;
    padding: 30px;
    margin-right: 30px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}
.resume .description{
    color: #757575;

}
.resume-btn{
     text-align: center;
     margin-top: 50px;
}
.contact .section-title{
    text-align: left;
}
.contact{
    background-color: #fff8f3;
    display: flex;
    gap: 100px;
    padding:130px 200px;
}
.contact input ,textarea{
    margin-bottom: 24px;
    padding: 18px 30px;
    border: 0;
    width: 100%;
}
.Form .btn-primary{
    text-align: right;
    margin-top: 10px;
}
.contact a{
    text-decoration: none;
    gap: 5px;
    margin-top: 10px;
}